/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
}

input[type="checkbox"] {
  transform: scale(2); /* Increase or decrease size */
}

/* UTILITIES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.darken {
  filter: brightness(25%);
}

.hidden {
  visibility: hidden;
}

.warning{
  color:rgb(200, 0, 0);
}
/* VARIABLES */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* COLORS */
  --BGCOLOR: #122559;
  --COLOR: whitesmoke;
  --INPUT-BGCOLOR: whitesmoke;
  --SHADOW-COLOR: whitesmoke;
  --LIST-BGCOLOR: rgb(14, 74, 133);
  --BUTTON-BGCOLOR: whitesmoke;
  --TEXT-HOVER-COLOR: rgb(82, 82, 82);

  /* FONTS */
  --FS: 0.5rem;
}

/* GENERAL */
body {
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  font-size: var(--FS);
}

h1 {
  font-size: 1.25rem;
  text-align: right;
  margin: 0;
  text-shadow: 1px 1px 4px var(--SHADOW-COLOR);
}

button:hover,
button:active{
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--SHADOW-COLOR);
  color: var(--TEXT-HOVER-COLOR);
}

/* TOPBAR*/

.header-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: #333;
  box-shadow: 0px 0px 10px black;
}

.topbar-left {
  display: flex;
  flex-direction: row;
  max-width: 8rem;
  gap: 1rem;
}

.topbar__button,
.topbar__img {
  border-radius: 25%;
}

/* MCGG */
.mcgg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.mcgg-instruction{
  background-color: var(--LIST-BGCOLOR);
  max-width: 40vw;
  padding: 1rem;
}

.mcgg-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--LIST-BGCOLOR);
  border-radius: 1%;
}

.mcgg-list-children {
  display: flex;
  flex-direction: column;
}

.mcgg-list__input {
  margin-bottom: 1rem;
  background-color: var(--INPUT-BGCOLOR);
  text-align: center;
  padding: 0.25rem 0;
}

.mcgg-list__button-container {
  display: flex;
  gap: 1rem;
}

.mcgg-list__button {
  padding: 0.5rem;
  background-color: var(--BUTTON-BGCOLOR);
}

.mcgg-list__reset-button{
  min-width: 10rem;
}

.mcgg-status {
  padding: 1rem;
  background-color: var(--LIST-BGCOLOR);
  height: auto;
  border-radius: 1%;
}
.mcgg-status__container > p {
  margin-bottom: 1rem;
  border: 2px solid black;
  padding: 0.5rem;
  white-space: wrap;
  background-color: #122559;
}

.mcgg-status__button-container {
  display: flex;
  gap: 0.5rem;
}

.mcgg-status__button {
  padding: 0.5rem;
  background-color: var(--BUTTON-BGCOLOR);
}

.mcgg-status__info-button{
  width: 48px;
  height: auto;
}

.mcgg-status__info-button-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.mcgg-instruction-overlay{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.mcgg-instruction-popup{
  position: relative;
  background-color: #333;
  padding:2rem;
  border-radius: 8px;
  width: 90vw;
  text-align: center;
  overflow-y: auto;
}

.mcgg-instruction-x-button-container{
  display: flex;
  justify-content: end;
}

.mcgg-instruction-x-button{
  width:2rem;
}

.mcgg-instruction-ok-button{
  width:5rem;
  margin-top: 2rem;
}

/* MLBB */
.roles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.timer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  background-color: var(--LIST-BGCOLOR);
}
.timer__button {
  display: flex;
  place-content: center;
  border-radius: 50%;
  max-width: 45%;
}

.timer__p {
  position: absolute;
  text-align: center;
  color: var(--COLOR);
  font-size: 2.5rem;
  transform: translateY(1rem);
}

.timer__select-hero {
  display: flex;
  flex-direction: column;
}

.timer__input-pyt {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

@media (min-width: 520px) and (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
    text-align: right;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1.25rem;
  }
}
